<div class="cart max-width-container">
  <h1>Your cart</h1>
  @defer(when !(isCartLoading$ | async)) {
    @if(cartProducts$ | async; as products) {
      <div class="cart-content">
        <ul class="cart-content__list">
          @for(product of products; track product.uuid; let idx = $index) {
            <li>
              <p-button
                (onClick)="onRemoveProduct(idx)"
                icon="pi pi-times"
                [rounded]="true"
                severity="danger"></p-button>
              <app-product-card
                [isHideFavoriteBtn]="true"
                [productCard]="product"
                [productCardType]="CardType.STRETCH"
              ></app-product-card>
            </li>
          }
        </ul>
        <div class="cart-content__payment">
          <app-payment
            [totalCost]="totalCost$ | async"
            [productsAmount]="products.length"
          ></app-payment>
        </div>
      </div>
    }
  } @placeholder () {
    <app-progress-spinner></app-progress-spinner>
  }
</div>
