<header [class.second]="isHomePage">
  <ul class="nav-list">
    @for (navLink of navLinks; track navLink.label) {
      <li
        class="nav-list__item">
        <a
          routerLinkActive="active-link"
          [routerLink]="navLink.link">
          {{ navLink.label }}
        </a>
      </li>
    }
  </ul>
  <ul class="account-actions">
    <li class="account-actions__item">
      <img
        class="icon"
        [ngSrc]="isHomePage ? 'assets/icons/avatar-white.svg' : 'assets/icons/avatar-black.svg'"
        alt="avatar"
        width="50"
        height="50">
      @if (isLoggedIn$ | async) {
        <a routerLink="#">My Account</a>
      } @else {
        <a routerLink="/auth/login">Sign In</a>
      }
    </li>
    <li class="account-actions__item">
      <img
        class="icon"
        [ngSrc]="isHomePage ? 'assets/icons/favorite-white.svg' : 'assets/icons/favorite-black.svg'"
        alt="favorite"
        width="30"
        height="30">
    </li>
    <li class="account-actions__item">
      <img
        class="icon"
        [ngSrc]="isHomePage ? 'assets/icons/basket-white.svg' : 'assets/icons/basket-black.svg'"
        alt="basket"
        width="50"
        height="50">
    </li>
    <li class="account-actions__item">
      <img
        class="icon"
        [ngSrc]="isHomePage ? 'assets/icons/menu-white.svg' : 'assets/icons/menu-black.svg'"
        alt="menu"
        width="35"
        height="35">
    </li>
  </ul>
</header>
