@use "mixins" as mixins;
@use "colors" as colors;
@use "constants" as constants;

:host ::ng-deep p-tabView {
  .p-tabview-nav {
    border: none;
    justify-content: center;
    padding-bottom: 1.8rem;

    li {
      &.p-highlight {
        a {
          color: colors.$primary;

          &::after {
            border-color: colors.$primary;
          }
        }
      }

      a {
        @include mixins.fontMix(.8rem, 600);

        color: colors.$second-text;
        border: none;
        position: relative;
        padding-bottom: 1rem;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 25%;
          width: 50%;
          border-bottom: 2px solid colors.$light-gray;
        }
      }
    }
  }
}

.home {
  &__header {
    @include mixins.bg-img('/assets/images/home-header-bg.png');
    @include mixins.flexMix(column, $gap: .4rem);

    height: 600px;
    color: #fff;

    h1 {
      @include mixins.responsive-font(3rem, 5vw, 3.6rem, 800);
    }

    span:nth-child(1) {
      @include mixins.fontMix(1.5rem, 700);
    }

    span:nth-child(2) {
      @include mixins.fontMix(1.2rem, 500);
    }

    button {
      margin-top: 1rem;
    }

    span:nth-child(1), h1 {
      font-family: "Montserrat-Bold", sans-serif;
    }
  }

  &__categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2.5rem;
    grid-template-areas:
    "card0 card2 card3"
    "card1 card2 card4";
    border-bottom: 2px solid colors.$light-gray-second;

    @media (max-width: constants.$wide-screen) {
      grid-gap: .5rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      "card0 card2"
      "card1 card2"
      "card3 card4";
    }
  }

  &__featured-products {
    .featured-products__tab {
      @include mixins.flexMix($gap: 2.5rem);
    }
  }

  &__latest-products {
    padding: 2rem 0;

    .latest-products__list {
      padding-top: 2.5rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2.5rem;
      justify-content: center
    }
  }

  &__featured-products, &__categories {
    padding: 3rem 0;
  }

  &__featured-products, &__latest-products {
    h2 {
      @include mixins.fontMix(1.5rem, 700);

      text-align: center;
      padding-bottom: 1.6rem;
    }
  }
}

.max-width-container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 10rem;
  padding-right: 10rem;
}
