<div class="home">
  <div class="home__header">
    <span>SUMMER 2020</span>
    <h1>New Collection</h1>
    <span>Find The Perfect style for you </span>
    <button class="light-large-btn">
      Shop Now
    </button>
  </div>
  <div class="max-width-container">
    <div class="home__categories">
      @for (card of categoryCards; track card.title; let idx = $index) {
        <app-category-card
          [style.grid-area]="'card' + idx"
          [isLongCard]="idx === Math.floor(categoryCards.length / 2)"
          [categoryCard]="card"
        ></app-category-card>
      }
    </div>
    <div class="home__featured-products">
      <h2>Featured Products</h2>
      <p-tabView>
        <p-tabPanel header="Featured">
          <div class="featured-products__tab">
            @if (isProductsLoading$ | async) {
              <app-progress-spinner></app-progress-spinner>
            }
            @for (product of featuredProducts$ | async; track product.uuid) {
              <app-product-card
                [productCard]="product"
              ></app-product-card>
            }
          </div>
        </p-tabPanel>
        <p-tabPanel header="Best Seller">
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim
            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
            qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
          </p>
        </p-tabPanel>
        <p-tabPanel header="New Arrivals">
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
            sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
            expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
          </p>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="home__latest-products">
      <h2>Latest Products</h2>
      @if (isProductsLoading$ | async) {
        <app-progress-spinner></app-progress-spinner>
      }
      <ul class="latest-products__list">
        @for (product of latestProducts$ | async; track product.uuid) {
          <app-product-card
            [productCard]="product"
            [isHideColors]="true"
          ></app-product-card>
        }
      </ul>
    </div>
  </div>
</div>
