<div class="home">
  <div class="home__header">
    <span>SUMMER 2020</span>
    <h1>New Collection</h1>
    <span>Find The Perfect style for you </span>
    <button class="light-large-btn">
      Shop Now
    </button>
  </div>
  <div class="max-width-container">
    <div class="home__categories">
      @for (card of categoryCards; track card.title; let idx = $index) {
        <app-category-card
          [style.grid-area]="'card' + idx"
          [isLongCard]="idx === Math.floor(categoryCards.length / 2)"
          [categoryCard]="card"
        ></app-category-card>
      }
    </div>
    <div class="home__featured-products">
      <h2>Featured Products</h2>
      <p-tabView>
        @if (isProductsLoading$ | async) {
          <app-progress-spinner></app-progress-spinner>
        }
        <p-tabPanel header="Featured">
          <div class="featured-products__tab">
            @for (product of featuredProducts$ | async; track product.uuid) {
              <app-product-card
                [productCard]="product"
              ></app-product-card>
            }
          </div>
        </p-tabPanel>
        <p-tabPanel header="Best Seller">
          <div class="featured-products__tab">
            @for (product of bestSellersProducts$ | async; track product.uuid) {
              <app-product-card
                [productCard]="product"
              ></app-product-card>
            }
          </div>
        </p-tabPanel>
        <p-tabPanel header="New Arrivals">
          <div class="featured-products__tab">
            @for (product of newArrivalsProducts$ | async; track product.uuid) {
              <app-product-card
                [productCard]="product"
              ></app-product-card>
            }
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="home__latest-products">
      <h2>Latest Products</h2>
      @if (isProductsLoading$ | async) {
        <app-progress-spinner></app-progress-spinner>
      }
      <ul class="latest-products__list">
        @for (product of latestProducts$ | async; track product.uuid) {
          <app-product-card
            [productCard]="product"
            [isHideColors]="true"
          ></app-product-card>
        }
      </ul>
    </div>
  </div>
</div>
