@use "colors" as colors;
@use "mixins" as mixins;

.radio-buttons-list {
  background: #fff;
  border: 1px solid colors.$gray-200;
  border-radius: .6rem;
  padding: 1.2rem;

  .field-checkbox {
    @include mixins.flexMix(column, flex-start, flex-start);

    padding-top: .6rem;

    &__item {
      color: colors.$second-text;
      padding: .4rem 0;
    }
  }
}
