<p-password
  [placeholder]="placeholder"
  [formControl]="formControl">
</p-password>
<div class="input-errors">
  @if(control.hasError('required') && control.touched) {
    <small class="p-error block">Fill in the field!</small>
  } @else if (control.hasError('minlength') && control.touched) {
    <small class="p-error block">
      The min length is {{ control.errors?.['minlength'].requiredLength }} characters!
    </small>
  } @else if (control.hasError('maxlength') && control.touched) {
    <small class="p-error block">
      The max length is {{ control.errors?.['maxlength'].requiredLength }} characters!
    </small>
  }
</div>
