@use "mixins" as mixins;
@use "colors" as colors;
@use "constants" as constants;

:host ::ng-deep app-page-title {
  .page-title {
    height: 300px;
  }
}

.products-list {
  &__main {
    @include mixins.flexMix($align: normal, $justify: normal, $gap: 1.8rem);

    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }
}

.max-width-container {
  @include mixins.maxWidthContainer();

  @media (max-width: constants.$small-screen) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
