<div
  class="products-list"
  [ngClass]="{
    'products-list--stretch': productCardType === cardType.STRETCH
  }">
  <app-page-title
    [title]="title"
    [isShowBtn]="false"
    [bgImageSrc]="titleBgImageSrc"
  ></app-page-title>
  <div class="products-list__main max-width-container">
    <p-sidebar [(visible)]="sidebarVisible">
      <app-side-bar-filters
        (searchEvent)="onSearchProducts($event)"
      ></app-side-bar-filters>
    </p-sidebar>
    <app-side-bar-filters
      (searchEvent)="onSearchProducts($event)"
    ></app-side-bar-filters>
    <div [style]="{ 'width': '100%' }">
      <div class="top-bar-filters">
        <app-top-bar-filters
          (toggleCardTypeEvent)="onToggleCardType($event)"
        ></app-top-bar-filters>
        <app-custom-button
          (click)="sidebarVisible = true"
          [label]="'Filters'"
          [icon]="'pi-filter'"
          [iconPos]="buttonIconPos.RIGHT"
          [buttonTheme]="ButtonTheme.GRAY"
        ></app-custom-button>
      </div>
      @if (!(isProductsLoading$ | async) && (products$ | async)) {
        <ul>
          @for (product of (products$ | async)!.slice(first, first + rows) | search: 'title' : searchProductsValue; track product.uuid) {
            <app-product-card
              [productCardType]="productCardType"
              [productCard]="product"
              [isHideSizes]="!isMobileScreen"
              [isHideColors]="!isMobileScreen"
            ></app-product-card>
          } @empty {
            There are no products here...
          }
        </ul>
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="(products$ | async)!.length"
        ></p-paginator>
      } @else {
        <app-progress-spinner></app-progress-spinner>
      }
    </div>
  </div>
</div>
