@use "mixins" as mixins;
@use "colors" as colors;
@use "constants" as constants;

:host ::ng-deep p-card {
  .p-card {
    min-width: 280px;
    background: transparent;
    border-radius: 0;
    box-shadow: none;

    &-body {
      @include mixins.fontMix(1.2rem, 200);

      padding: .5rem 0;
    }

    &-title {
      color: colors.$text;
    }

    &-subtitle {
      color: colors.$second-text;
    }

    &-content {
      @include mixins.fontMix(1.5rem, 800);

      color: colors.$text;
      padding: .8rem 0;
    }

    &-footer {
      padding-top: 0;
    }

    @media (max-width: constants.$medium-screen) {
      width: 100%;
    }
  }
}

.product-card {
  position: relative;

  &__favorite-btn {
    position: absolute;
    top: .4rem;
    right: .4rem;
  }

  &--long {
    width: 280px;

    .header-img {
      height: 400px;
      object-fit: cover;
    }
  }
}
