<div
  [ngClass]="{
    'product-card--long': productCardType === cardType.LONG
  }"
  class="product-card">
  <img
    class="product-card__favorite-btn"
    src="assets/icons/favorite.svg"
    alt="add to favorite">
  <p-card [header]="productCard.title" subheader="(Black)" [style]="{ width: '280px' }">
    <ng-template pTemplate="header">
      <img
        class="header-img"
        alt="product card"
        [src]="productCard.images[0]"/>
    </ng-template>
    <p>
      ${{ productCard.price }}
    </p>
    <ng-template pTemplate="footer">
      <app-size-color-picker
        [sizePicker]="isHideSizes ? [] : productCard.sizes"
        [colorPicker]="isHideColors ? [] : productCard.colors"
      ></app-size-color-picker>
    </ng-template>
  </p-card>
</div>
