<div
  [ngClass]="{
    'product-card--long': productCardType === cardType.LONG,
    'product-card--stretch': productCardType === cardType.STRETCH
  }"
  [routerLink]="['../products', productCard.uuid]"
  class="product-card">
  @if(!isHideFavoriteBtn) {
    <img
      class="favorite-btn"
      (click)="onFavoriteAdd(productCard, $event)"
      [src]="CardTypeIcon[productCardType]"
      alt="add to favorite">
  }
  <p-card [header]="productCard.title" subheader="(Black)">
    <ng-template pTemplate="header">
      <img
        class="header-img"
        alt="product card"
        [src]="productCard.images[0]"/>
    </ng-template>
    <p>
      ${{ productCard.price }}
    </p>
    <ng-template pTemplate="footer">
      <app-size-color-picker
        (pickEvent)="onPickEvent($event)"
        [sizeColorValue]="sizeColor"
        [sizePicker]="isHideSizes && productCardType !== cardType.STRETCH ? [] : productCard.sizes"
        [colorPicker]="isHideColors && productCardType !== cardType.STRETCH ? [] : productCard.colors"
      ></app-size-color-picker>
    </ng-template>
  </p-card>
</div>
