@use "mixins" as mixins;
@use "colors" as colors;

:host ::ng-deep p-card {
  .p-card {
    background: transparent;
    border-radius: 0;
    box-shadow: none;

    &-body {
      @include mixins.fontMix(1.2rem, 200);

      padding: .5rem 0;
    }

    &-title {
      color: colors.$text;
    }

    &-subtitle {
      color: colors.$second-text;
    }

    &-content {
      @include mixins.fontMix(1.5rem, 800);

      color: colors.$text;
      padding: .8rem 0;
    }

    &-footer {
      padding-top: 0;
    }
  }
}
