$primary: #2091F9;
$second-text: #737373;
$text: #252B42;
$light-gray: #BDBDBD;
$light-gray-second: #E9E9E9;
$second-light-gray: #e2e2e2;
$dark-background: #252B42;
$icon-light-wrapper: rgba(241, 241, 241, 0.51);
$icon-light-wrapper-border: rgba(255, 255, 255, 0.50);
