@mixin flexMix($direction: row, $align: center, $justify: center, $gap: 0, $wrap: unset) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin gridMix($columns: 0, $rows: 0, $gap: 0, $areas: none) {
  display: grid;
  grid-template-columns: $columns ;
  grid-template-rows: $rows;
  grid-gap: $gap;
  grid-template-areas: $areas;
}

@mixin fontMix($size: 1rem, $weight: 400) {
  font-size: $size;
  font-weight: $weight;
}

@mixin responsive-font($minSize: 1rem, $val: 5vw, $maxSize: 1rem, $weight: 400) {
  font-size: clamp($minSize, $val, $maxSize);;
  font-weight: $weight;
}

@mixin bg-img($bg-img: null, $bg-size: cover, $bg-position: center center, $bg-repeat: no-repeat) {
  background-image: url($bg-img);
  background-size: $bg-size;
  background-position: $bg-position;
  background-repeat: $bg-repeat;
}

@mixin maxWidthContainer($max-width: 1920px, $margin: 0 auto, $p-left: 1.8rem, $p-right: 1.8rem) {
  max-width: $max-width;
  margin: $margin;
  padding-left: $p-left;
  padding-right: $p-right;
}
