@use "mixins" as mixins;
@use "colors" as colors;

.size-color-picker {
  @include mixins.flexMix(column, flex-start, flex-start, $gap: .8rem);

  &__colors {
    button {
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      border: 2px solid #fff;
      box-shadow: 0 0 3px 0 colors.$gray-300;
    }
  }

  &__sizes {
    button {
      background: #fff;
      border: 2px solid colors.$gray-300;
      font-weight: 700;
      padding: .3rem .5rem;
      color: colors.$second-text;
    }
  }

  &__colors, &__sizes {
    @include mixins.flexMix($align: flex-start, $justify: flex-start, $gap: .8rem);

    button {
      cursor: pointer;
    }
  }
}
