@use "colors" as colors;
@import "font-faces";

*,
*::after,
*::before {
  margin: 0;
  font-family: "Montserrat-Regular", sans-serif;
}

body {
  background-color: colors.$gray-100;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: colors.$text;
}

.light-large-btn {
  padding: 1rem 2.8rem;
  border: none;
  cursor: pointer;
  background: #fff;
  color: colors.$primary;
  font-weight: 800;
}

.p-input-icon-right, .p-input-icon-left {
  i {
    margin-top: -0.5rem;
  }
}

i, i::before, .pi, .pi::before {
  font-family: 'primeicons', sans-serif;
}

.p-button-icon-left {
  margin-right: .5rem;
}

.p-sidebar-icon {
  margin-left: auto;
}

.p-button-icon-right {
  margin-left: .5rem;
}

p-tabview {
  .p-tabview-panels, ul, li, a {
    background: transparent;
  }
}

.p-paginator {
  background: transparent;
}
