<form
  class="form register-form"
  (ngSubmit)="onFormSubmit()"
  [formGroup]="registerForm">
  <h2>Sign Up</h2>
  <div class="form__field">
    <app-email-control
      formControlName="email"
      placeholder="Enter your email"
    ></app-email-control>
  </div>
  <div class="form__field">
    <app-password-control
      formControlName="password"
      placeholder="Enter a password"
    ></app-password-control>
  </div>
  <div class="form__field">
    <app-password-control
      formControlName="repeatPassword"
      placeholder="Repeat your password"
    ></app-password-control>
  </div>
  <div class="form__actions">
    <a routerLink="/auth/login">Go to login</a>
    <app-loading-button
      [label]="'Submit'"
      [isDisabled]="registerForm.invalid"
      [isLoading]="!!(isFormSubmitting$ | async)"
    ></app-loading-button>
  </div>
</form>
