<div class="favorite-list max-width-container">
  <div class="favorite-list__header">
    <h1>Your Favourites Products</h1>
    <p>
      <strong>There will be selected products here</strong>
      <br>
      You will always be aware of the availability of selected products.
    </p>
  </div>
  @defer(when !(isFavoriteLoafing$ | async)) {
    <div class="favorite-list__main">
      <ul>
        @for(product of favoriteProducts$ | async; track product.uuid) {
          <li>
            <app-product-card
              [isHideFavoriteBtn]="true"
              [productCard]="product"
              [productCardType]="CardType.STRETCH"
            ></app-product-card>
            <div class="button-set">
              <p-button
                (onClick)="onRemoveProduct(product)"
                icon="pi pi-times"
                [rounded]="true"
                severity="danger"></p-button>
              <p-button
                (onClick)="onCartAdd(product)"
                icon="pi pi-cart-plus"
                [rounded]="true"></p-button>
            </div>
          </li>
        }
      </ul>
    </div>
  } @placeholder () {
    <app-progress-spinner></app-progress-spinner>
  }
</div>
